@mixin titulo($area, $color){
    grid-area: $area;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, $color, $color 20%, $db);
    @media (max-width: 550px){
        height: 170px;
    }
}
@mixin container{
    background-color: $db;
    border-radius: 1rem;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    position: relative;
    margin-top: 2.5rem;
    &:hover{
        background-color: $desatbl;
    }
    @media (max-width: 550px) {
        padding: 0 1.4rem;
    }
}

@mixin container-name-points{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@mixin name{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    @media (max-width: 550px) {
        margin: 1.4rem 0 0.5rem 0;
    }
}

@mixin ellipsis-hover{
    &:hover{
        height: 0.4rem;
        width: 1.4rem;
    }
}

@mixin container-hours{
    @media (max-width: 550px) {
        display: flex;
        justify-content: space-between;
    }
}

@mixin first{
    font-size: 3.2rem;
    line-height: 0px;
    font-weight: 300;
    color: white;
    margin-bottom: 2.5rem;
    @media (max-width: 900px){
        margin: 2rem 0;
    }
    @media (max-width: 550px) {
        line-height: 1.8rem;
        font-size: 2rem;
        margin: 0 0 1.6rem 0;
        padding-top: .4rem;
    }
}

@mixin second{
    font-size: 0.9rem;
    color: $pb;
    font-weight: 300;
}

