.play {
    @include titulo(play, $sbplay);
    .icon-play {
        position: absolute;
        width: 4.5rem;
        top: -5%;
        left: 54%;
    }
    .container {
        @include container;
        .container-name-points {
            @include container-name-points;
            .name {
                @include name;
            }
            .icon-ellipsis {
                @include ellipsis-hover;
        }
    }
        .container-hours {
            @include container-hours;
            .first2 {
                @include first;
            }
            .second2 {
                @include second;
            }
        }
    }
}