$blue: hsl(246, 80%, 60%);
$lrwork: hsl(15, 100%, 70%);
$sbplay: hsl(195, 74%, 62%);
$lrstudyhsl: hsl(348, 100%, 68%);
$lgexe: hsl(145, 58%, 55%);
$vsocial: hsl(264, 64%, 52%);
$soself: hsl(43, 84%, 65%);
$vdb: hsl(226, 43%, 10%);
$db: hsl(235, 46%, 20%);
$desatbl: hsl(235, 45%, 61%);
$pb: hsl(236, 100%, 87%);